@model StadiumTracker.Models.ParkModels.ParkDetail

@{
    ViewBag.Title = "Details";
}
<h2 id="page-header">
    @Html.DisplayFor(model => model.ParkName)
</h2>

<div class="col-lg-5">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            City Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityName)
        </dd>

        <dt>
            Has been Visited
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVisited)
        </dd>

        <dt>
            Purchased a Pin
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasPin)
        </dd>

        <dt>
            Took a Photo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasPhoto)
        </dd>
    </dl>
    <p class="detail-buttons">
        @if (Model.OwnerId == Model.CurrentUser)
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.ParkId })
        }

        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

<div class="col-lg-7">
    <div class="row">
        <div class="form-group">
            <canvas id="barChart" width="400" height="150"></canvas>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script>
        //-------------------Bar Chart---------------------------------
        var c = document.getElementById("barChart");
        var ctx = c.getContext("2d");
        var tData = $.getValues("/BarChart/newBarChartData");
        var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: tData
        });
    </script>
}