@model IEnumerable<StadiumTracker.Models.ParkModels.ParkListItem>

@{
    ViewBag.Title = "Index";
}

<h2 id="page-header">Stadiums</h2>

<div class="container grid-width">
    <div class="row grid-row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-4 item-box">
                <div class="item-container">
                    @if (true)
                    {<span class="content-name">
                            @Html.DisplayFor(modelItem => item.ParkName)
                        </span>}
                    <div class="item-grid">
                        <p>
                            <span class="content-item">City:</span> @Html.DisplayFor(modelItem => item.CityName)<br />
                            <br />
                            <span class="content-item">Visit count:</span> @Html.DisplayFor(modelItem => item.VisitCount)<br />
                            <span class="content-item">Pin</span> @Html.DisplayFor(modelItem => item.HasPin)
                            <span class="content-item">Photo</span> @Html.DisplayFor(modelItem => item.HasPhoto) <br />

                            @if (true)
                            {<span class="item-image stadium-image"></span>}

                            <span class="item-details">@Html.ActionLink("Details", "Details", new { id = item.ParkId })</span>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
