@model StadiumTracker.Models.VisitorModels.VisitorDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="col-lg-4">
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            Stadiums Visited
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalVisits)
        </dd>

        <dt>
            Pins Collected
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPins)
        </dd>

    </dl>
    <p class="detail-buttons">
        @Html.ActionLink("Edit", "Edit", new { id = Model.VisitorId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

<div class="col-lg-8">
    <div class="row">
        <div class="form-group">
            <canvas id="barChart" width="400" height="150"></canvas>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script>
        //-------------------Bar Chart---------------------------------
        var c = document.getElementById("barChart");
        var ctx = c.getContext("2d");
        var tData = $.getValues("/BarChart/BarChartData");
        var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: tData
        });
    </script>
}