@model IEnumerable<StadiumTracker.Models.VisitorModels.VisitorListItem>

@{
    ViewBag.Title = "Index";
}

<h2>People</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Stadiums Visited
        </th>
        <th>
            Pins Collected
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalVisits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPins)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.VisitorId }) |
            @Html.ActionLink("Details", "Details", new { id = item.VisitorId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.VisitorId })
        </td>
    </tr>
}

</table>