@model IEnumerable<StadiumTracker.Models.TeamModels.TeamListItem>

@{
    ViewBag.Title = "Index";
}

<h2 id="page-header">Teams</h2>

@{ 
    ViewBag.Options = @Html.ActionLink("Create New", "Create");
}

<div class="container grid-width">
    <div class="row grid-row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-4 item-box">
                <div class="item-container">
                    @if (item.LeagueId == 1)
                    {<span class="content-name national-name">
                            @Html.DisplayFor(modelItem => item.TeamName)
                        </span>}
                    @if (item.LeagueId == 2)
                    {<span class="content-name american-name">
                            @Html.DisplayFor(modelItem => item.TeamName)
                        </span>}
                    <div class="item-grid">
                        <p>
                            <span class="content-item">League:</span>
                            @Html.DisplayFor(modelItem => item.League.LeagueName)<br />
                            <span class="content-item">Home:</span>
                            @Html.DisplayFor(modelItem => item.Park.CityName)'s<br />
                            @Html.DisplayFor(modelItem => item.Park.ParkName)<br />
                            <span class="item-image">
                                @Html.ActionLink("Logo", "Details", new { id = item.TeamId })
                            </span>
                            <span class="item-details">
                                @Html.ActionLink("Details", "Details", new { id = item.TeamId })
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
