@model IEnumerable<StadiumTracker.Models.TeamModels.TeamListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Existing Teams</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Team Name
        </th>
        <th>
            Stadium Name
        </th>
        <th>
            League
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeamName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Park.ParkName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.League.LeagueName)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.TeamId })
        </td>
    </tr>
}

</table>
