@model StadiumTracker.Models.VisitModels.VisitDetail

@{
    ViewBag.Title = "Delete";
}

<h2 id="page-header">Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Stadium
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Park.ParkName)
        </dd>

        <dt>
            Home Team
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTeam.TeamName)
        </dd>

        <dt>
            Away Team
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayTeam.TeamName)
        </dd>

        <dt>
            Visitor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visitor.FullName)
        </dd>

        <dt>
            Date of Visit
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitDate)
        </dd>

        <dt>
            Got Pin
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GotPin)
        </dd>

        <dt>
            Got Photo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GotPhoto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Visit", "Details", new { id = Model.VisitId })
        </div>
    }
</div>
