@model StadiumTracker.Models.VisitModels.VisitDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Stadium Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Park.ParkName)
        </dd>

        <dt>
            Visitor Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visitor.FullName)
        </dd>

        <dt>
            Date of Visit
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitDate)
        </dd>

        <dt>
            Got Pin
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GotPin)
        </dd>

        <dt>
            Got Photo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GotPhoto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
