@model IEnumerable<StadiumTracker.Models.VisitModels.VisitListItem>

@{
    ViewBag.Title = "Index";
}

<h2 id="page-header">Recorded Visits</h2>

<table class="table">
    <tr>
        <th>Date of Visit</th>
        <th>Home Team</th>
        <th>Away Team</th>
        <th>Stadium Name</th>
        <th>Visitor Name</th>
        <th>Pin</th>
        <th>Photo</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VisitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeTeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayTeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GotPin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GotPhoto)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.VisitId })
            </td>
        </tr>
    }

</table>
