@model IEnumerable<StadiumTracker.Models.VisitModels.VisitListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VisitId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParkId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GotPin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GotPhoto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VisitId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisitorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GotPin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GotPhoto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.VisitId }) |
            @Html.ActionLink("Details", "Details", new { id = item.VisitId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.VisitId })
        </td>
    </tr>
}

</table>
